# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Cloud\Privat\Projekte\zocker.pro\Minecraft\Entwicklung\Market\Plugin\Server\MZP-JumpPad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
